@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-baboonBlack text-white font-sans;
  background: linear-gradient(to bottom right, #000000, #0d1117, #0b1736);
  min-height: 100vh;
}
